
  .login-page {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding-top: 200px;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
  }

.login-page .form .login{
    margin-top: -31px;
  margin-bottom: 26px;
  }
  .form {
  
    position: relative;
    z-index: 1;
    background:rgb(24, 44, 44);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background-position: center;
    background-size: cover;
    height: 30%;
    width: 80%;
    border-radius: .4em;
    border: 10px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    right: 0;
    top: 0;
    }

      .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: auto;
        padding: 15px;
        border-radius: none;
        box-sizing: border-box;
        font-size: 14px;
      }        
  
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: rgb(3, 105, 14);
    width: 60%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    border-radius:20px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-top: 10px;
  }
  
  

  .form p{
    padding: 10px;
    margin: 10px;
    color: white;
  }

  
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  
  body {
    background-color:rgb(24, 44, 44);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  
fieldset{
  border: none;
  padding: 0;
  margin: 20px 0;
  position: relative;
}
h3{
    color: white;
    text-align: center;
    padding-top: 100px;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin-top: -230px;
}

img{
    border: 0px;
    border-radius: 4px;
    padding: 150px;
    width: 50px;
    margin-top: -80px;
    margin-left:550px;
}